<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Contacts
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Contacts</ion-title>
      <ion-button fill="clear" slot="end" (click)="openContactModal()">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding">
    <ion-list>
      <!-- <ion-item-sliding > -->
        <ion-item *ngFor="let contact of contacts; index as i">
          <p>{{i+1}}. {{contact.lastName}}, {{contact.firstName}}</p>
        </ion-item>
      <!-- </ion-item-sliding> -->
    </ion-list>
  </ion-content>
</ion-content>
