<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding">
    <ion-card *ngIf="getCurrentTrip() && getCurrentTrip()?.journeyName">
      <ion-card-header>
        Current Trip Details
      </ion-card-header>
      <ion-card-title class="ion-padding">
        Journey Name: {{ getCurrentTrip()?.journeyName }}
      </ion-card-title>
      <ion-card-subtitle class="ion-padding">
        Date started: {{ getCurrentTrip()?.dateStarted}}
      </ion-card-subtitle>
      <ion-card-content>
        <ion-button>
          + Add Location
        </ion-button>
      </ion-card-content>
    </ion-card>

    <ion-button *ngIf="!getCurrentTrip()" (click)="addNewTrip()">
      Create Trip
    </ion-button>
  </ion-content>
</ion-content>
