<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding">
    <ion-card *ngIf="getCurrentTrip()">
      <ion-card-header>
        Current Trip Details
      </ion-card-header>
      <ion-card-content>
        <h2 *ngIf="getCurrentTrip()?.journeyName">Journey Name: {{ getCurrentTrip()?.journeyName }}</h2>
      </ion-card-content>
    </ion-card>

    <ion-button *ngIf="!getCurrentTrip()" (click)="addNewTrip()">
      Create Trip
    </ion-button>
  </ion-content>
</ion-content>
