<ion-header>
  <ion-toolbar>
    <ion-title>Edit Trip</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-content class="ion-padding">

    <ion-card class="ion-padding">
      Journey Name: 
      <ion-input [(ngModel)]="journeyName" name="journeyName" type="text"></ion-input>
    </ion-card>
    <ion-card class="ion-padding">
      <ion-card-content>
        <ion-label>Add Location:</ion-label>
        <ion-input [(ngModel)]="newLocation" name="newLocation" type="text"></ion-input>
        <ion-input [(ngModel)]="newLocationDate" name="newLocationDate" type="date"></ion-input>
        <ion-button (click)="addLocation()">Add</ion-button>
      </ion-card-content>
      <ion-card-content>
        <ion-list>
          <ion-item *ngFor="let location of locations; let i = index">
            {{ location }} ({{ locationDates[i] }})
            <ion-button (click)="removeLocation(i)" slot="end">Delete</ion-button>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
    <ion-card class="ion-padding">
      Date Started:
      <ion-input [(ngModel)]="dateStarted" name="dateStarted" type="date"></ion-input>
    </ion-card>
    <ion-card class="ion-padding">
      <ion-checkbox [(ngModel)]="complete" labelPlacement="start" justify="end">
       Complete:
      </ion-checkbox>
    </ion-card>
    <ion-card class="ion-padding">
      Date Ended:
      <ion-input [(ngModel)]="dateEnded" name="dateEnded" type="date"></ion-input>
    </ion-card>

    <ion-button (click)="updateJourney()">Update Trip</ion-button>
  </ion-content>
</ion-content>
