<ion-header>
  <ion-toolbar>
    <ion-title>Edit Trip</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-content class="ion-padding">

    <ion-card class="ion-padding">
      Journey Name: 
    </ion-card>
    <ion-card class="ion-padding">
      Locations:
    </ion-card>
    <ion-card class="ion-padding">
      Date Started:
    </ion-card>
    <ion-card class="ion-padding">
      Complete:
    </ion-card>
    <ion-card class="ion-padding">
      Date Ended:
    </ion-card>

  </ion-content>

  <ion-button expand="block" (click)="updateJourney()">Update Trip</ion-button>
</ion-content>
